@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

:root,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	color: #fff;
	animation: bodyBackground 60s infinite;
}

@keyframes bodyBackground {
	0% {
		background-color: #000;
	}
	20% {
		background-color: #290000;
	}
	40% {
		background-color: #301f00;
	}
	60% {
		background-color: #143300;
	}
	80% {
		background-color: #003029;
	}
	100% {
		background-color: #000;
	}
}

.slab {
	font-family: "Roboto Slab", sans-serif;
}

.thin {
	font-weight: 100;
}

.first {
	background-color: rgba(255, 255, 255, 0.1);
	margin: 40px;
	padding: 30px;
	height: calc(100vh - 80px);
	border-radius: 10px;
	position: relative;
}

.first_inner {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
	height: 100%;
	padding: 30px;
}

.first_inner_inner {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.hi_me {
	font-size: 3.5rem;
}

.logo {
	font-size: 3.5rem;
	font-weight: 900;
	margin-top: -2rem;
}

.me__img {
	height: 260px;
	width: 260px;
	border-radius: 130px;
	background: rgb(255 255 255 / 5%);
	padding: 10px;
}

.me__container {
	background: rgb(255 255 255 / 5%);
	border-radius: 140px;
	padding: 10px;
	margin-bottom: 10px;
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.social__container {
	text-decoration: none;
	background: rgb(255 255 255 / 10%);
	padding: 6px;
	border-radius: 30px;
	margin-right: 10px;
	color: #fff;
	font-size: 1.5rem;
	transition: 0.25s ease;
}

.social__item {
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255 255 255 / 5%);
	border-radius: 30px;
}

a.social__container:last-child {
	margin-right: 0;
}

a.social__container:last-child,
a.social__container:first-child {
	top: -28px;
	position: relative;
}

a.social__container:first-child {
	margin-right: 4px;
}

a.social__container:nth-last-child(2) {
	margin-right: 4px;
}

a.social__container:hover {
	transform: scale(1.1);
}

.continue {
	position: absolute;
	bottom: 20px;
	font-size: 1.1rem;
	background: rgb(255 255 255 / 10%);
	padding: 0.5rem 1rem;
	border-radius: 32px;
	user-select: none;
	cursor: pointer;
}

.continue i {
	margin-right: 10px;
}

.okey__who,
.whatDidIDo {
	font-size: 3rem;
}

.section__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section {
	padding: 2rem;
}

.light {
	background: rgb(255 255 255 / 10%);
}

.logo-arrows::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-2px);
	bottom: 0;
	height: 30px;
	background: #fff;
	width: 4px;
}

.logo-arrows {
	position: relative;
	padding-bottom: 30px;
}

.icons {
	display: flex;
	width: 80%;
}

.icons__icon {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding: calc(50px + 1rem) 5px 0 5px;
	flex-direction: column;
}

.icons__icon i {
	font-size: 8rem;
	margin-bottom: 1rem;
}

.icons__icon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #fff;
}

.icons__icon:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
	background: #fff;
	height: 50px;
}

.icons__icon:first-child:before {
	left: 50%;
}

.icons__icon:last-child:before {
	right: 50%;
}

.icons__text {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

.experience-group,
.reference-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.experience-group__title,
.reference-group__title {
	font-size: 2rem;
	font-weight: 100;
}

.experience-group__title__groupName,
.reference-group__title__groupName {
	font-weight: bold;
	font-size: 2.5rem;
}

.experience-group__experiences {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.experience-group__experiences__item {
	flex-basis: calc(50% - 1rem);
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.experience-group__experiences__item__title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.experience-group__experiences__item__title span {
	font-size: 1.5rem;
	font-weight: bold;
}

.group__experiences__item__title__percent {
	font-weight: 100;
}

.experience-group__experiences__item__line {
	height: 12px;
	width: 100%;
	border-radius: 30px;
	background: rgb(255 255 255 / 25%);
}

.experience-group__experiences__item__line__percent {
	height: 12px;
	border-radius: 30px;
	background: #fff;
}

.my-references {
	width: 100%;
}

.reference-group__references {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.reference-group__references__item {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 30%;
	margin-top: 1rem;
	margin-right: 2rem;
}

.reference-group__references__item__image {
	max-width: 100%;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 0.5rem;
}

.reference-group__references__item__image img {
	max-width: 100%;
	max-height: 380px;
}

.reference-group__references__item__title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align: center;
	line-height: 1.2;
}

a.group__references__item__detailsBtn {
	background: rgb(255 255 255 / 10%);
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	font-weight: 100;
	border-radius: 30px;
}

a.group__references__item__detailsBtn i {
	margin-right: 0.5rem;
}

.reference-group {
	margin-top: 2rem;
}

.reference-group__references__item__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
